<?xml version="1.0"?>
<model>
  <name>rupe_description</name>
  <version>1.0</version>
  <sdf version="1.6">rupe.sdf.xacro</sdf> <!-- SDFファイルへの相対パス -->

  <author>
    <name>Your Name</name>
    <email>your@email.com</email>
  </author>

  <description>
    A model for the rupe robot.
  </description>
</model>

